*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: #000;
    color: white
}
p{
    font-size : 2px;

}
.JS{
    color: #fff;
}
.typed-text {
    color: yellow;
}
.cusor{
    background: green;
}